// main: style.scss

// ---------------------------------
//   theme colors
// ---------------------------------
$white: #ffffff;
$black: #444444;
$pink-thick: #F178B6;
$pink-thin: #FFF3FF;
$transparent-black: rgba(68, 68, 68, 0.4);


// ---------------------------------
//   fonts
// ---------------------------------

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@mixin notosans {
    font-family: 'Noto Sans', sans-serif;
}


// ---------------------------------
//   initialize
// ---------------------------------
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none; // iOSのbutton,inpuy等のスタイルリセット
}

*:focus {
    outline: none;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    min-width: 320px;
    background-color: $white;
    color: $black;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: 0 solid $white;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

input {
    border: 0 solid $white;
    cursor: pointer;
    outline: none;
    appearance: none;
}

textarea {
    border: 0 solid $white;
    cursor: pointer;
    outline: none;
    appearance: none;
}

a {
    display: block;
    text-decoration: none;
    transition: opacity 0.15s;
}

li {
    list-style: none;
}

table {
    border-spacing: 0;
}

input[type="submit"] {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}
