.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    background-color: $pink-thick;
    cursor: pointer;
    transition: .2s;

    &:hover {        
        filter: drop-shadow(0 0 8px $pink-thick);
    }

    & p {
        font-size: 16px;
        color: $white;
        @include notosans;

        & svg {
            
        }
    }

    & a {
        font-size: 20px;
        color: $white;
        @include notosans;
    }

    & input {
        font-size: 20px;
        color: $white;
        @include notosans;
    }
}