.ui-datepicker {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    padding: 16px;
    border: 1px solid rgba($black, .3);
    border-radius: 8px;
    background-color: $white;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 24px;        

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            margin: 0;
            border-radius: 50%;
            border: 1px solid transparent;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background-color: $pink-thin;
            }

            & span {
                width: 8px;
                height: 8px;
                border: solid black;
                border-width: 0 2px 2px 0;
                border-radius: 0;
                display: inline-block;
                padding: 3px;
            }
        }

        & .ui-datepicker-prev {
            order: 1;
            margin-left: 24px;

            & span {                
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
        }

        & .ui-datepicker-next {
            order: 3;
            margin-right: 24px;

            & span {                
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }

        & .ui-datepicker-title {
            order: 2;
            font-size: 12px;
            line-height: 1;
            height: 12px;
        }
    }

    &-calendar {
        width: 100%;

        & thead {
            width: 100%;

            & tr {
                width: 100%;

                & th {
                    width: calc(100% / 7);
                    text-align: center;
                    vertical-align: middle;
                    height: 24px;
                    font-size: 12px;
                    font-weight: normal;
                    border: 1px solid transparent;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
        }

        & tbody {
            width: 100%;

            & tr {
                width: 100%;

                & td {
                    width: calc(100% / 7);
                    text-align: center;
                    vertical-align: center;
                    height: 33px;
                    font-size: 12px;
                    color: rgba($black, .5);
                    border: 1px solid transparent;
                    white-space: nowrap;
                    cursor: pointer;                    

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: $black;
                        color: $black;
                        border-radius: 50%;                        

                        &:hover {
                            background-color: $pink-thin;
                        }
                    }
                }
            }
        }
    }
}
