.c-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;

    &_form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        max-width: 1024px;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 16px;
        z-index: 10;

        &_cover {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 864px;
            margin: 40px 0;

            &_title {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 24px;

                & h3 {
                    font-size: 20px;
                    color: $black;
                    @include notosans;

                    & svg {
                        color: $pink-thick;
                        margin-right: 8px;
                    }
                }
            }

            &_text {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
                @include notosans;
                margin-bottom: 40px;
            }

            &_box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 16px;

                & label {
                    font-size: 16px;
                    line-height: 27px;
                    @include notosans;
                    font-weight: 500;
                    color: $black;
                    margin-bottom: 4px;
                }

                & input {
                    border-radius: 5px;
                    background-color: $pink-thin;
                    width: 100%;
                    height: 40px;
                    padding-left: 16px;

                    &::placeholder {
                        font-size: 16px;
                        line-height: 27px;
                        @include notosans;
                        font-weight: 500;
                        color: #C4C4C4;
                    }
                }

                & textarea {
                    border-radius: 5px;
                    background-color: $pink-thin;
                    width: 100%;
                    height: 93px;
                    padding: 16px;

                    &::placeholder {
                        font-size: 16px;
                        line-height: 27px;
                        @include notosans;
                        font-weight: 500;
                        color: #C4C4C4;
                    }
                }

                &:nth-last-child(1) {
                    margin-bottom: 72px;
                }
            }

            &_btn {
                display: flex;
                justify-content: center;
                width: 100%;               

                & button {
                    &:nth-last-child(1) {
                        margin-left: 24px;
                    }

                    &:nth-child(1) {
                        background-color: $white;
                        border: 2px solid $pink-thick;

                        & p {
                            color: $pink-thick;
                        }
                    }
                }
            }
        }
    }
}