<div class="c-modal" id="add_task_modal">
  <form class="c-modal_form" id="new_task" action="/tasks">
    <div class="c-modal_form_cover">
      <div class="c-modal_form_cover_title">
        <h3><i class="fa-solid fa-table-list"></i>新規タスク追加</h3>
      </div>
      <div class="c-input">
        <label for="task_title">タイトル</label>
        <input type="text" name="task[title]" id="task_title" placeholder="タイトル">
      </div>

      <div class="c-input">
        <label for="task_info">説明文</label>
        <textarea name="task[info]" id="task_info" placeholder="タスクの説明"></textarea>
      </div>

      <div class="c-input">
        <label for="task_start_time">日</label>
        <input type="text" name="task[start_time]" id="task_start_time" autocomplete="off" readonly>
      </div>

      <div class="c-modal_form_cover_btn">
        <button type="button" class="c-button cancel_btn">
          <p>キャンセル</p>
        </button>
        <button type="button" class="c-button" id="add_task_modal_submit_btn">
          <p>追加</p>
        </button>
      </div>
    </div>
  </form>
</div>
