<div class="c-modal" id="delete_task_modal" data-delete-task-id="">
  <div class="c-modal_form">
    <div class="c-modal_form_cover">
      <div class="c-modal_form_cover_title">
        <h3><i class="fa-regular fa-trash-can"></i>タスク削除</h3>
      </div>
      <div class="c-modal_form_cover_text">本当に削除しますか？</div>
      <div class="c-modal_form_cover_btn">
        <button type="button" class="c-button cancel_btn">
          <p>キャンセル</p>
        </button>
        <button type="button" class="c-button" id="delete_task_modal_submit_btn">
          <p>削除</p>
        </button>
      </div>
    </div>
  </div>
</div>