<div class="modal" id="delete_task_modal" data-delete-task-id="">
  <div class="modal_form">
    <div>本当に削除しますか？</div>
    <button type="button" class="cancel_btn">キャンセル</button>
    <button type="submit" id="delete_task_modal_submit_btn">削除</button>
  </div>
</div>