<div class="c-modal" id="edit_task_modal" data-edit-task-id="">
  <form class="c-modal_form" action="/tasks">
    <div class="c-modal_form_cover">
      <div class="c-modal_form_cover_title">
        <h3><i class="fa-solid fa-pencil"></i>タスク編集</h3>
      </div>

      <div class="c-input c-modal_form_cover_box">
        <label for="task_title">タイトル</label>
        <input type="text" name="task[title]" id="edit_task_title">
      </div>

      <div class="c-input c-modal_form_cover_box">
        <label for="task_info">説明文</label>
        <textarea name="task[info]" id="edit_task_info"></textarea>
      </div>

      <div class="c-input c-modal_form_cover_box">
        <label for="task_start_time">日</label>
        <input type="text" name="task[start_time]" id="edit_task_start_time">
      </div>

      <div class="c-switch">
        <label class="c-switch_label">
          <div class="c-switch_label_title">通知</div>
          <div class="c-switch_label_box">
            <div class="c-switch_label_box_btn">
              <input type="checkbox" name="task[notification]" id="edit_task_notification" />
              <div class="c-switch_label_box_btn_circle"></div>
              <div class="c-switch_label_box_btn_base"></div>
            </div>
            <div class="c-switch_label_box_text"></div>
          </div>          
        </label>
      </div>

      <div class="c-modal_form_cover_btn">
        <button type="button" class="c-button cancel_btn">
          <p>キャンセル</p>
        </button>
        <button type="button" class="c-button" id="edit_task_modal_submit_btn">
          <p>更新</p>
        </button>
      </div>
    </div>
  </form>
</div>
